{% extends "base.html.twig" %}
{% block title %} {{title}} {% endblock %}
{% block body %}

<h1 class="h3 my-2">Sites</h1>

<div class="content">
    <div class="card">
        <div class="card-header">
            <span class="card-title h5">Liste des sites</span>
        </div>
        <div class="card-body">

            {% if is_granted('ROLE_ADMINISTRATEUR') %}
                <div class="mb-3 d-flex justify-content-end">
                    <a href="{{ path('administrateur_site_add') }}" class="btn btn-success">Ajouter</a>
                </div>
            {% endif %}

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Adresse</th>
                            <th>Contact</th>
                            <th>Operateurs</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for site in sites %}
                            <tr>
                                <td> <a href="{{ path(role_title ~ '_site_show', {'id': site.id}) }}" class="link-primary" class="link-primary text-decoration-none">{{ site.id }}</a> </td>
                                <td>{{ site.name }}</td>
                                <td>{{ site.email }}</td>
                                <td>{{ site.address }}</td>
                                <td>{{ site.contact }}</td>
                                <td>{{ site.operateurs | length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script>
        window.addEventListener('DOMContentLoaded', event => {
            const datatablesSimple = document.getElementById('dataTable');
            if (datatablesSimple) {
                new simpleDatatables.DataTable(datatablesSimple);
            }
        });
    </script>
{% endblock %}