{% extends "base.html.twig" %}
{% block title %} {{title}} {% endblock %}
{% block body %}

<h1 class="h3 my-2">Sites</h1>

<div class="content">
    <div class="card">
        <div class="card-header">
            <span class="card-title h5">Voir le site</span>
        </div>
        <div class="card-body">

            <div class="row d-flex align-items-stretch">
                <div class="col-4 card shadow m-2">
                    
                    <div class="card-body text-center">
                        <img src="{{ '/uploads/pictures/' ~ site.picture }}" alt="picture" class="rounded img-fluid" style="width: 200px;">
                        <h5 class="my-3">{{ site.name }}</h5>
                        <p class="text-muted mb-1">{{ site.address }}</p>
                        <p class="text-muted mb-1">{{ site.email }}</p>
                        {% if is_granted('ROLE_ADMINISTRATEUR') %}
                            <div class="d-flex justify-content-center mb-2">
                            <a href=" {{ path('administrateur_site_picture', {'id': site.id}) }} " type="button" class="btn btn-warning">Changer l'image</a>
                        </div>
                        {% endif %}
                        
                    </div>
                   
                </div>
                <div class="col card shadow m-2">
                    
                    <div class="card-body">
                        <div class="row responsive">
                            <div class="col-sm-3">
                                <p class="mb-0">Nom du site</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ site.name }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ site.email }}</p>
                            </div>
                        </div>
                        <hr>                  
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Addresse</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ site.address }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Contact</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ site.contact }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Utilisateurs</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ site.operateurs | length }}</p>
                            </div>
                        </div>

                        <hr>
                        {% if is_granted('ROLE_ADMINISTRATEUR') %}
                            <div class="d-flex justify-content-start">
                                <a href="{{ path('administrateur_site_edit', {'id': site.id}) }}" type="button" class="btn btn-success">Modifier</a>
                            </div>
                        {% endif %}
                        
                        
                    </div>


                    
                </div>
            </div>

            <div class="card my-3 shadow">
                <div class="card-header">
            <span class="card-title h5">Liste des Operateurs</span>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Site</th>
                            <th>Poste</th>
                            <th>Email</th>
                            <th>Adresse</th>
                            <th>contact</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for operateur in site.operateurs %}
                            <tr>
                                <td> <a href="{{ path('admin_operateur_show', {'id': operateur.id}) }}" class="link-primary" class="link-primary text-decoration-none">{{ operateur.id }}</a> </td>
                                <td>{{ operateur.firstname }}</td>
                                <td>{{ operateur.lastname }}</td>
                                <td>{{ operateur.site.name }}</td>
                                <td>{{ operateur.job }}</td>
                                <td>{{ operateur.email }}</td>
                                <td>{{ operateur.address }}</td>
                                <td>{{ operateur.contact }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script>
        window.addEventListener('DOMContentLoaded', event => {
            const datatablesSimple = document.getElementById('dataTable');
            if (datatablesSimple) {
                new simpleDatatables.DataTable(datatablesSimple);
            }
        });
    </script>
{% endblock %}